video/
data/
paper/
utils/
.idea/

best.onnx
best.pt
best.torchscript.pt
best.torchscript.ptl
cfg/
extracted_frames/
figure/
hubconf.py
inference/
model/
model1/
models/
nncf_ptq_env/
openvino_env/
processed_images/
runs/
scripts/
tools/
traced_model.pt
train/
LICENSE.md